/* element selector */
h1 {
  color: red;
}

/* id selector */
#judul {
  font-weight: 800;
}

/* class selector */
.sub-judul {
  color: blue;
  text-shadow: 5px 3px 5px rgb(0, 0, 119);
}

/*  */
.content {
  font-style: italic;
  color: green;
}

.p1,
.p3 {
  color: #0000ff;
}

.p2 {
  text-align: center;
}

.link:hover {
  background-color: black;
  color: white;
}
.container {
  border: 4px solid blue;
}
.box {
  border: 2px solid red;
  /* background-color: red; */
  padding: 10px;
  margin: 10px;
}

.box .content {
  border: 1px solid blue;
  background-color: green;
}

.box p {
  color: white;
}

body {
  background-image: url(../img/luke-stackpoole-ej8pKvHDg_c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.border {
  border: 1px solid;
  border-style: dotted;
}
